/* OrganDetail.css */

.organ-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    text-align: center;
    padding: 20px;
    width: 800px;
}

img {
    width: 150px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
}

.related-diseases {
    margin-top: 20px;
}

.right-section {
    margin-left: 50px;
    /* Adjust the margin-left as needed */
}

.doctor-info,
.ask-question-form {
    text-align: left;
    padding: 20px;
}

.ask-question-form textarea {
    width: 100%;
}
.doctor{
    width: 150px;
        height: 50px;
        background-color: blueviolet;
        color: black;
        font-style: italic;
        font-weight: bolder;
        border-radius: 10px;
        align-items: end;
        display: block;
        /* Ensures buttons appear on separate lines */
        margin-bottom: 5px;
        border-color: black;
        border-width: 2px;
}
.doctor:hover {
    background-color: green;
}
