/* TextOverlay.css */
.text-overlay {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Ensure the overlay appears on top of other content */
    /* opacity: 0; */
    transition: opacity 1s ease-in-out;
}

.text-overlay.show {
    opacity: 1;
}

.message {
    color: #fff;
    font-size: 24px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /* Add a transition effect for message opacity */
}

.text-overlay.show .message {
    opacity: 1;
    /* Make the message visible when .show class is applied */
}