.user-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: space-around;
  align-content: start;
}

.dashboard-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.dashboard-card img {
  max-width: 100%;
  height: auto;
}

.card-content {
  text-align: center;
}
.welcome {
  align-items: right;
  background-color: #4caf50;
  display: inline;
}
.welcome.h1{
  text-align: right;
  text-decoration-style: wavy;
  font-weight: bolder;
  color: red;
}